@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200 1000;
  font-stretch: 100%;
  font-display: swap;
  src: url('./NunitoSans-VF.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 200 1000;
  src: url('./MaterialSymbolsOutlined-VF.woff2') format('woff2');
}
